body {
    background-color: #D1D5E3;
    
}

#grid-container {
    display: grid;
    grid-template-columns: 350px 1fr; 
    
}

#inputBox { 
    position: relative;
    flex-direction: column;
    grid-column: 200px;
    text-align: center;
    background-color: plum;
    border-radius: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    box-shadow: 5px 10px #888888;
    
}

#inputContainer {
    position: absolute;
    top: 1rem;
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 20px;
  
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px 20px;
  
    box-sizing: border-box; 
}

#buttonContainer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
}
button {
    background-color:whitesmoke;
    font-weight: bold;
    color: black;
    border: none;
    padding: 1rem;
    width: 100%;
    font-family: inherit;
    
}

button:hover {
    background-color: white;
}

#currencyList {
    grid-column: span 2;
    margin-left: 15px;
    
    
}

#feed {
    grid-column: span 3;
    grid-row: span 5;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}

#date {
    color: red;
}

